body {
  font-size: 18px;
  font-family: 'Helvetica', sans-serif;
}

.company {
  background-color: black;
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.company img {
  height: 1.5rem;
  padding-right: 1rem;
  padding-left: 0.5rem;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}

.main-banner {
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.headline {
  background-color: black;
  color: white;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9rem;
}

h4 {
  font-weight: bold;
}

.headline h1 {
  font-size: 2em;
  margin: 0.25em 0;
}

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem
}
